<body>
        <img src="favicon.ico">
        <div class="hello_app">   
                <pre> 
What are you waiting for?
Sign up and become
one of the millions of people around the world
who have fallen in love with iTrack.
                </pre>      
        </div>

        <div class="example-button-row">
                <button routerLink="/login" mat-flat-button color="primary">Log In</button> 
                <button routerLink="/registrate" mat-flat-button color="accent">Registrate</button>      
        </div>

</body>    