.main {
  background-image: url("https://wallpapershome.ru/images/pages/pic_h/475.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
}
