<exc-layout-header [logout]="true" ></exc-layout-header>
<div class="main">
  <div class="change-password-form-div">

    <div class="change-password-title">
      <span>Change password</span>
    </div>

    <form class="change-password-form" [formGroup]="control">

        <div class="change-password">
                <mat-form-field>
                    <input matInput formControlName="oldPassword" placeholder="Enter old password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
        </div>
        <div class="change-password">
                <mat-form-field>
                    <input matInput formControlName="newPassword" placeholder="Enter new password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
        </div>

        <div class="change-password-button-submit">
            <button (click)="changePassword();" mat-flat-button color="accent" type="submit">Enter</button>
        </div>
        <div class="change-password-error">{{error}}</div>
            <router-outlet></router-outlet>            
    </form>

    </div>  
</div>
