<exc-layout-header [login]="true"></exc-layout-header>
<div class="main">
  <div class="registration-form-div">
    <div class="registration-title">
      <span>Sign Up</span>
    </div>
    <form class="registration-form" [formGroup]="control">
      <div class="registration-name">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Enter your name" required>
          <mat-error>{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="registration-email">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Enter your email" required>
          <mat-error>{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="pas" class="registration-password">
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="registration-button-submit">
        <button *ngIf="pas" mat-flat-button color="accent" type="submit">Enter</button>
        <button *ngIf="log" class="registration-button-get-password" mat-flat-button color="accent" type="submit">Get a password</button>
        <router-outlet></router-outlet>
      </div>
    </form>
  </div>
</div>
