.example-container {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 5px;
  padding: 0px 10px 15px 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.example-list {
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 90%;
}

.task {
  padding: 20px 10px;
  border: solid 1px #ccc;
  margin: 5px 0px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  min-height: 300px;
}

.add-button{
  margin-top: 10px;
}

.my-textarea{
  background-color: transparent;
  border: none;
  resize: none;
  height: 32px !important;
  width: 90%;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
}
.my-textarea-add-name, .my-textarea-add-description{
  background-color: transparent;
  border: none;
  resize: none;
  width: 100%;
  padding: 5px;
}
.my-textarea-add-name{
  height: 30px !important;
  text-align: center;
  font-size: 18px;
}
.my-textarea-add-description{
  font-size: 16px;
  height: 40px !important;
}
.column-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: fit-content;
  align-content: center;
}
