header {
    width: 100%;
    background-color: rgba(233, 233, 233, 0.7);
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: relative;
}

.appName {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 40px;
    border: none;
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
    color: #292929;
    line-height: 90%;
    margin: .2em 0 .4em 0;
    letter-spacing: -2px;
}

a,
a:visited,
a:hover {
    color: black;
    text-decoration: none;
}

.button-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin-right: 10px;
}

.button-head-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-head-row button {
    margin: 5px;
}

a {
    border: none;
}
