<header>

  <div class="appName">
    <a routerLink=""> iTrack </a>
  </div>
  <div class="board-name" *ngIf="boardName">
      <input class="my-input-board-name" (change)="changeBoardName()" id="input-board-name" maxlength="25" value="{{boardName}}" />
  </div>
  <div class="button-head">
    <div class="button-head-row">
      <button (click)="logOut();" mat-flat-button color="accent">Log Out</button>
      <a routerLink="/change-password">Change password</a>
      <router-outlet></router-outlet>
    </div>
  </div>
</header>
