<exc-layout-header [registrate]="true"></exc-layout-header>
<div class="main">
    <div class="login-form-div">
    <div class="login-title">
        <span>Log In</span>
    </div>
    <form class="login-form" [formGroup]="control">
        <div class="login-email">
        <mat-form-field>
            <input matInput formControlName="email" placeholder="Enter your email" required>
            <mat-error>{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        </div>
        <div *ngIf="pas" class="login-password">
        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        </div>
        <div class="login-button-submit">
            <button *ngIf="pas" mat-flat-button color="accent" type="submit">Enter</button>
            <button *ngIf="log" class="login-button-get-password" mat-flat-button color="accent" type="submit">Get a password</button>
        <router-outlet></router-outlet>
        </div>
    </form>
    </div>
</div>
       