.board-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100% - 70px);
  justify-content: center;
  align-items: center;
}

.board-name-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  padding: 20px 0px 0px 25px;
  height: 40px;
}

.board-columns-container {
  display: flex;
  width: 90%;
  max-height: calc(100% - 100px);
}

.board-name-span {
  font-size: 30px;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: rgb(255, 255, 255);
  line-height: 20px;
  letter-spacing: -1px;
  font-weight: bold;
}
