<header>

  <div class="appName">
    <a routerLink="" > iTrack </a>
  </div>
  <div class="button-head">
    <div class="button-head-row">
      <button *ngIf="login" routerLink="/login" mat-flat-button color="primary">Log In</button>
      <button *ngIf="logout" routerLink="/logout" mat-flat-button color="accent">Log Out</button>
      <button *ngIf="registration" routerLink="/registration" mat-flat-button color="accent">Registrate</button>
    <router-outlet></router-outlet>
  </div>
</div>

</header>

